#main {
    text-align: center;
    padding: 20px;
}

#avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#tags {
    margin: 10px 0;
}

#tags span {
    margin-right: 10px;
}

#socials {
    margin: 10px 0;
}

#socials a {
    margin-right: 10px;
}

#words {
    margin-top: 20px;
    text-align: left;
}
